@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo</h1>
    <p>Esta é a sua aplicação ASP.NET Core MVC, use os menus acima para navegar</p>
</div>
